.LeftNavBar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    width: calc(100% / 7);
}
.LeftNavBar > div  {
    width:100%;
}
.LeftNavBar > div > a {
    margin: 1vh 0;
}
.LeftNavBar > div > a > i {
}
.LeftNavBar > div > a:nth-child(1) > i {
    font-size: xx-large;
}
.LeftNavBar > div > a:nth-child(n + 2) > i {
    font-size: x-large;
}

@media only screen and ( min-width: 1008px ){
    .LeftNavBar > div  {
            width:100%;
    }
}
@media only screen and ( max-width: 1007px ){
    .LeftNavBar > div > a {
        display: block;

    }

}
