.RightSearchBar > div > label {
    color: lightpink;
}
/* label focus color */
.RightSearchBar > div > input.active[type=text]:focus + label {
    color: black;
}
/* label underline focus color */
.RightSearchBar > div > input.active[type=text]:focus {
    border-bottom: 1px solid lightpink;
    box-shadow: 0 1px 0 0 black;
}
/* valid color */
.RightSearchBar > div > input[type=text] {
    border-bottom: 1px solid lightpink;
    box-shadow: 0 1px 0 0 lightpink;
}
